<div class="container">
    <div class="row alert alert-info">
        <div>
            <h1>Proyecto</h1>
        </div>
        <div class="col-lg-2">
            <button type="button" class="btn btn-primary" routerLink="/nuevoproyecto">
                Agregar Proyecto
            </button>
        </div>
        <div>
            <table class="table">
                <tbody>
                    <tr *ngFor="let proyecto of proyecto">
                        <td>
                            <h2>{{proyecto.nombre}}</h2>
                        </td>
                        <td>{{proyecto.descripcion}}</td>
                        <td>
                            <button class="btn btn-light" routerLink="/editproyecto/{{proyecto.id}}">
                             EDITAR</button>
                        </td>
                        <td>
                            <button class="btn btn-danger" (click)="delete(proyecto.id)">
                             BORRAR</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
