<div class="container">
    <div class="row alert alert-info">
    <div class="col-1 col-sm-1 col-md-1 col-lg-1">
        <a href="" class="btn btn-primary">Home</a>
    </div>
    <div class="centrar">
        <form action="">
            <label for="usuario">E-mail</label><br>
            <input type="text" id="usuario"><br>
            <label for="pw">Contraseña</label><br>
            <input type="password" id="pw"><br>
            <button class="btn btn-primary">Iniciar</button>
            <button class="btn btn-primary">Registrarse</button>
        </form>
    </div>
    </div>
</div>