.row{
    display: flex;
    align-items: center;
    border-color: rgb(112, 218, 230);
    padding: 10px;
    padding-right: 30px;
}

#banner{
    width: auto;
    margin-top: 15px;
    border-radius: 1%;
}

@media(min-width: 992px){
    #fp{
        position: absolute;
        width: 15%;
        left: 4%;
        top: 620px;
        border-radius: 100%;
    }
}

@media(max-width: 1199px){
    #fp{
        position: absolute;
        width: 16%;
        left: 3%;
        top: 510px;
        border-radius: 100%;
    }
}

@media(max-width: 991px){
    #fp{
        position: absolute;
        width: 18%;
        left: 7%;
        top: 325px;
        border-radius: 100%;
    }
}

@media(max-width: 768px){
    #fp{
        position: absolute;
        width: 18%;
        left: 7%;
        top: 240px;
        border-radius: 100%;
    }
}


@media(max-width: 576px){
    #fp{
        position: absolute;
        width: 20%;
        left: 40%;
        top: 230px;
        border-radius: 100%;
    }
}

